<div class="books">
<p id="notice">
    <%= notice %>
</p>
<table>
<tr>
<td><h2>Title:</h2></td>
<td><p><%= @book.title %></p></td>
</tr>
<tr>
<td><h2>Body:</h2></td>
<td><p><%= @book.body %></p></td>
</tr>
</table>
<%= link_to "Edit", edit_book_path %>
|
<%= link_to "Back", books_path %>
</div>